extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Change ME';
    var myDescription = 'Change ME';
    var landingPage = 'CSS';
    var activeLink = '/css/borders';

block awesome-content
  h1=myTitle
  p=myDescription
