extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Change Me';
    var myDescription = 'Change ME too';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/operators';

block awesome-content
  h1=myTitle
  p=myDescription
