extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code HTML Attributes for beginners'
    var myDescription = 'Attributes provide additional information about HTML elements.'
    var landingPage = 'HTML';
    var activeLink = '/html/attributes';

block awesome-content
  h1=title
  p=description
  h2 Example

  p(title="This is a tooltip :):)") This paragraph has a tooltip.
  a(href="http://youtube.com/codetap") And this link takes you to CodeTap on YouTube.
  p The next image will have width of 200 and height of 100
  img(src="http://lorempixel.com/200/100", width="200", height="100", alt="This text shows if the image fails to load to provide the user with more info")
