extends ../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code CSS for beginners';
    var myDescription = 'CSS is AWESOME, powerful, easy and fun to learn!';
    var landingPage = 'CSS';
    var activeLink = '';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 CSS Colors
  p Colors in CSS are most often specified by:
  ul
    li a valid color name
    li an RGB value
    li a HEX value
  h2 CSS Backgrounds
  p The CSS background properties are used to define the background effects for elements.
  h2 CSS Borders
  p The CSS border properties allow you to specify the style, width, and color of an element's border.
