extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'CSS Backgrounds';
    var myDescription = 'The CSS background properties are used to define the background effects for elements.';
    var landingPage = 'CSS';
    var activeLink = '/css/backgrounds';

block awesome-content
  h1=myTitle
  p=myDescription
  p CSS background properties:
  ul.listStyle
    li background-color
    li background-image
    li background-repeat
    li background-attachment
    li background-position