extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code HTML Headings for beginners'
    var myDescription = 'Headings are important in HTML documents.'
    var landingPage = 'HTML';
    var activeLink = '/html/headings';

block awesome-content
  h1=title
  p=description
  h2 Example

  h1 This is the cool heading 1
  h2 This is the cool heading 2
  h3 This is the cool heading 3
  h4 This is the cool heading 4
  h5 This is the cool heading 5
  h6 This is the cool heading 6
