extends ../../_component/layout/template

block cool-config
    -
      var myTitle = 'Learn to code HTML Tables for beginners';
      var myDescritpion = 'An HTML table is defined with the <table> tag.';
      var landingPage = 'HTML';
      var activeLink = '/html/tables';

block awesome-content
    h1=myTitle
    p=myDescritpion
    p Each table row is defined with the &lt;tr&gt;  tag. A table header is defined with the &lt;th&gt; tag. By default, table headings are bold and centered. A table data/cell is defined with the &lt;td&gt; tag.