doctype html
html
  head
    title Learn to code HTML, CSS and JavaScript
    meta(name="description", content="This is a HTML replica of w3schools.com")
    link(rel="stylesheet", href="style.css")
  body
    header
      a.current(href="/") Home
      a(href="/html") HTML
      a(href="/css") CSS
      a(href="/javascript") JavaScript

    article
      h1 This is a replica of w3schools.com
      p I'll go through all possible HTML elements as well as CSS to gain knowledge quicker and get used to writing and producing styled HTML pages.
      h2 HTML
      p The language for building web pages.  #[a(href="/html") Check it out!]
      h2 CSS
      p The language for styling web pages. #[a(href="/css") See awesomeness happening!]
      h2 JavaScript
      p The language for programming web pages. #[a(href="/javascript") Discover the way up!]

    nav
      h3 HTML and CSS
      a(href="/html") Learn HTML
      a(href="/css") Learn CSS
      a(href="/javascript") Learn JavaScript

    footer &copy; 2017 My name is awesome!
