@import 'reset';

:root {
  --color-scorpion: #5f5f5f;
  --color-white: #fff;
  --color-fruit-salad: #4caf50;
  --color-black: #000;
  --color-seashell: #f1f1f1;
  --color-silver: #ccc;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 44px 1fr 44px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
}

nav {
  grid-column: 1/2;
  grid-row: 2/3;
}

article {
  grid-column: 2/3;
  grid-row: 2/3;
}

header,
footer {
  background-color: var(--color-scorpion);
}

footer {
  grid-column: 1/3;
  grid-row: 3/4;
}

nav {
  background-color: var(--color-seashell);
}

header {
  a {
    color: var(--color-white);
    text-decoration: none;
    padding: 0 15px;
    line-height: 44px;
    font-size: 17px;
    display: inline-block;
    &.current {
      background-color: var(--color-fruit-salad);
    }
    &:hover {
      background-color: var(--color-black);
    }
  }
}

nav {
  padding-top: 20px;

  h3,
  a {
    padding: 5px 12px;
  }

  a {
    color: var(--color-black);
    text-decoration: none;
    display: inline-block;
    width: 100%;

    &:hover {
      background-color: var(--color-scorpion);
      color: var(--color-white);
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  padding: 15px;

  p {
    margin: 15px 0;
    font-size: 15px;
    line-height: 36px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}
